/*todo form from  id="todo-form"" */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(90deg, #69b7eb, #b3dbd3, #f4d6db);
  font-size: 1.1rem;
  font-family: "Quicksand", sans-serif;
  height: 100%;
}

#app {
  margin: 4rem auto;
  padding: 2rem 3rem 3rem;
  max-width: 500px;
  background: #ff6666;
  color: #fff;
  box-shadow: -20px -20px 0px 0px rgba(100, 100, 100, 0.1);
}

header {
  display: grid;
  gap: 8px;
  margin-bottom: 10px;
}

header h5 {
  font-weight: 400;
}

header hr {
  background-color: rgba(255, 255, 255, 0.3);
  border: 0;
  border-radius: 2px;
  height: 1px;
}
/*----Todo form ---*/
/*form*/
#todo-form {
  margin-block-start: 55px;
  display: flex;
  flex-wrap: wrap;
}
/*Input todo*/
#todo {
  flex-grow: 1;
  border: none;
  background: #f7f1f1;
  padding: 0 1.5em;
  font-size: initial;
}
#todo:focus-visible {
  outline: none;
}

#todo-form label {
  min-width: 100%;
  margin-bottom: 0.5rem;
  font-size: 25px;
  font-weight: 600;
}

#todo-form button {
  padding: 0 1.3rem;
  border: none;
  background: #ff6666;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-left: 5px;
  cursor: pointer;
  height: 3rem;
}

/*todo list div  id="todo-list"" */
/*todo item li calss="todo-item"" */
/*todo deletet button calss="delete-todo"" */
/*----Todo list ---*/
#todo-list ul {
  list-style: none;
  padding: 0;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  margin: 0 -3rem 5px;
  padding: 20px 3rem;
  background: rgba(255, 255, 255, 0.1);
}
.todo-item p {
  position: relative;
  transition: opacity 0.4s linear;
}

.todo-item p.completed::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -0.5rem;
  display: block;
  width: 0%;
  height: 2px;
  background: #fff;
  animation: strikeitem 0.5s ease-out 0s forwards;
}

@keyframes strikeitem {
  to {
    width: calc(100% + 1rem);
  }
}

.completed {
  opacity: 0.6;
}

/*(red) filter: invert(12%) sepia(80%) saturate(7499%) hue-rotate(15deg) brightness(91%) contrast(111%); */
/*(green) filter: invert(88%) sepia(15%) saturate(6511%) hue-rotate(94deg) brightness(98%) contrast(99%); */
/*(white) filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(319deg) brightness(103%) contrast(101%); */
.todo-action {
  display: flex;
  gap: 10px;
}

.todo-action button {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  align-self: center;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(319deg)
    brightness(103%) contrast(101%);
}

.edit-todo:hover {
  filter: invert(69%) sepia(58%) saturate(543%) hue-rotate(97deg)
    brightness(88%) contrast(88%);
}

.delete-todo:hover {
  filter: invert(25%) sepia(77%) saturate(2979%) hue-rotate(347deg)
    brightness(95%) contrast(114%);
}
